extends layout

block content
  h1= title
  p Welcome to #{title}
    form.resource(method="post" action="/")
      label Name of Resource
      input.resource(type="text" name="name" placeholder="Name of Resource")
      br
      label Best Number to Call
      input.resource(type="text" name="phone_number" placeholder="Phone Number")
      br
      label Address
      input.resource(type="text" name="address" placeholder="")
      br
      label Website URL
      input.resource(type="text" name="website_url" placeholder="Website?")
      br
      label Zipcode
      input.resource(type="text" name="zipcode" placeholder="Zipcode")
      br
      label Resource uploaded by
      input.resource(type="text" name="created_by" placeholder="Optional")
      br
      label Description of Resource (why is this resource helpful)
      input.resource(type="text" name="description" placeholder="Optional")
      br
      label Number of Votes
      input.resource(type="number" name="votes" placeholder="Votes")
      br
      input.button(type="submit" value="Create Resource")
