extends layout

block content
  .section-1
    h1.helping-hand JustUs
    h3.helping-hand-info
      |Safe solutions for when you need help.
    a.btn.enter-site-button(href='/list') Find Resources Now
  .section-2
  .section-3
    h1.what-is-helpinghand What is JustUs?
    h3.helping-hand-info
      |A forum for alternatives to calling police in crisis situations.
  .section-4
    h2.helping-hand-info 1 in 4 fatal police encounters involve someone with severe mental illness
    h6 - Dec. 2015, Treatment Advocacy Center
  .section-3
    h3.helping-hand Use JustUs as a tool when someone is in crisis...
    h3.helping-hand divorce medical care from policing in your community now...
    a.btn.enter-site-button(href='/list') Get Started
  .section-4
    h4.just-us-quote "The transfer of responsibility for persons with mental illness from mental health professionals to law enforcement officers is both illogical and harms both the patients and the officers."
    h6 - Treatment Advocacy Center
  
