extends layout

block content
  .section-1
    h1.helping-hand Helping Hand
    h3.helping-hand-info
      |Safe solutions for when you need help.
    button.btn.enter-site-button(type='redirect' href='/list') Start Helping
  .section-2
  .section-3
    h1.what-is-helpinghand What is Helping Hand?
    h4.helping-hand-info
      |A crowdsourcing platform for community alternatives to calling police in crisis situations.
