createresource
 form.resource(method="post" action="/resources")
   label Name of Resource
   br
   input.form-control.resource(type="text" name="name" placeholder="Name of Resource")
   br
   label Best Number to Call
   br
   input.form-control.resource(type="tel" name="phone_number" placeholder="Phone Number")
   br
   label Address
   br
   input.form-control.resource(type="text" name="address" placeholder="address")
   br
   label Website URL
   input.form-control.resource(type="text" name="zipcode" placeholder="zipcode")
   br
   label Zipcode
   br
   input.form-control.resource(type="text" name="website_url" placeholder="optional")
   br
   label Resource uploaded by
   br
   input.form-control.resource(type="text" name="created_by" placeholder="Optional")
   br
   label Description of Resource (why is this resource helpful)
   br
   input.form-control.resource(type="text" name="description" placeholder="Optional")
   br
   label votes
   br
   input.form-control.resource(type="text" name="votes" placeholder="Optional")
   br
   input.btn.create-resource-button(type="submit" value="Create Resource")
