body {
}

a {
  color: #302E31;
}

h1 {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
  color: #302E31;
}

h2, h3, h4, h5, p {
  margin-top: 5px;
  font-family: 'Lato', sans-serif;
}

h3 {
  margin-top: 10px
}

.section-1, .section-3 {
  text-align: center;
  padding: 20px;
}

.section-2 {
  margin-top: -43px;
  padding-top: 80px;
  padding-bottom: 100px;
  background: url('http://i.imgur.com/IYEKgM9.png') top center;
  background-size: cover;
  max-width: 100%;
  height: 100%;
}

.enter-site-button, .create-resource-button {
  position: relative;
  margin-top: 10px;
  color: #fff;
  background-color: #2BA84A;
}

.create-resource-button {
  margin: 0px 0px 10px 0px
}

.resource-list-header {
  text-align: center;
  margin: 20px
}

.jumbotron {
  padding: 10px;
  background-color: #fff;
  border-radius: 0px;
  border: 0.5px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-color: black;
  padding-bottom: 5px
}

p {
  margin-bottom: 5px;
}

.resource-header {
  justify-content: space-between;
  display: inline-flex;
}

.phone {
  margin-left: 30px;
  line-height: 1
}
.resource-title {
  margin-top: 5px;
  font-weight: 700;
  margin-bottom: 5px;
}

.resource {
  text-align: left
}
.jumbotron p {
  font-size: 17px;
  font-weight: 300;
}
